.post_detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    padding: 1.5em;
    background-color: #101010;
    box-shadow: 0px 0px 5px 1px #AAA;
}

.post_detail h2{
    margin-bottom: .5em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .1em;
    line-height: 1.3em;
}

.post_detail p{
    margin-bottom: 1em;
}

.post_detail .card_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.post_detail a {
    background-color: #3A48EB;
    width: 50%;
    margin-bottom: 1em;
}

.post_detail .card_footer img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-bottom: 1em;
}

.tags_area{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tags_area p{
    margin-right: .5em;
    color: #AAA;
    font-size: .9em;
    font-weight: 500;
}

.tags_area span{
    color: #FFF;
    font-weight: bold;
}