.card_comment{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2%;
    padding: 1em 0;
}

.card_comment:not(:last-child) {
    border-bottom: 1px solid #cccccc2f;
}

.info_user_area{
    display: flex;
}

.info_user_area img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.cont_area{
    margin-left: .5em;
}

.cont_area h3{
    color: #FFF;
    font-size: 1.1em;
    font-weight: 600;
}

.cont_area p{
    color: #CCC;
    line-height: 1.3em;
}

.card_comment .removeComment{
    height: fit-content;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
    margin-top: .5em;
    transition: .4s;
    font-size: 1.1em;
    opacity: .7;
}

.card_comment .removeComment:hover{
    opacity: 1;
}