.handle_quantity{
    display: flex;
    flex-direction: row !important;
    justify-content: space-around;
    margin: 0em 0 3em 0;
}

.handle_quantity div{
    cursor: pointer;
    width: fit-content !important;
    padding: .5em;
    display: flex;
    border-radius: 100% !important;
}