* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

body{
    background-color: #161618;
    color: #FFF;
}

li {
    list-style: none;
}

h1{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -.05em;
}

a,
button {
    text-decoration: none;
    background-color: transparent;
    border: none;
    transition: .2s;
    color: #FFF;
    cursor: pointer;
}

a, input,
button, textarea {
    outline: none;
    background-color: transparent;
    font-size: 1em;
    font-weight: 500;
}

input, textarea {
    padding: .5em .5em;
    color: #FFF;
}

input::placeholder,
textarea::placeholder {
    color: #AAA;
}

/*buttons*/

.btn {
    color: #000;
    background-color: #F4B670;
    border: 1px solid #F4B670;
    font-weight: 600;
    border-radius: 1em;
    padding: .5em 1em;
}

.btn:hover {
    background-color: transparent;
    color: #F4B670;
}

.btn.dark-outline {
    background-color: #212123;
    color: #FFF;
    border: 1px solid #212123;
}

.btn.dark-outline:hover {
    background-color: transparent;
}

/*Fom padrão*/
.form_default {
    width: 65%;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5em;
}

.header h1 {
    position: relative;
    text-transform: capitalize;
}

.header h1::after {
    content: " ";
    width: 40%;
    height: 4px;
    background-color: #F4B670;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .3s ease-in-out;
}

form {
    display: flex;
    flex-direction: column;
}

form .form_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .form_container label {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    width: 40%;
    text-align: left;
    margin-bottom: 2em;
}

form .form_container input, form .form_container textarea {
    border: none;
    border-bottom: 1px solid #AAA;
    padding: .5em .2em;
}

.form_default button{
    border-radius: 0;
}

/*Box error*/
.error{
    color: #721c24;
    background-color: #f8d7d4;
    border: 1px solid #f5c6cb;
    padding: 5px;
    border-radius: 5px;
    margin-top: 1em;
    text-align: center;
    font-weight: 500;
}